<?define ShortName = "Moonlight Qt PyroWave" ?>
<?define FullName = "Moonlight Qt PyroWave" ?>

<?define ShortcutName = "$(var.ShortName)" ?>
<?define ShortcutDesc = "Stream games and other applications from another PC" ?>
<?define InstallFolder = "Moonlight Qt PyroWave" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall">

  <Package Name="$(var.FullName)"
           Language="1033"
           Version="!(bind.fileVersion.MoonlightExe)"
           Manufacturer="Moonlight Qt PyroWave contributors"
           UpgradeCode="a577db46-36d7-4200-8d2f-c2aff43ee2f9">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize" />
    <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <Component Id="MoonlightShortcuts" Directory="INSTALLFOLDER">
      <Shortcut Id="StartMenuShortcut"
                Name="$(var.ShortcutName)"
                Description="$(var.ShortcutDesc)"
                Target="[#MoonlightExe]"
                Directory="ApplicationProgramsFolder"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="CleanupStartMenuShortcut"
                    Directory="ApplicationProgramsFolder"
                    On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\Moonlight Qt PyroWave"
                     Name="Installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

    <Component Id="MoonlightDesktopShortcut" Directory="INSTALLFOLDER" Condition="ADDDESKTOPSHORTCUT=1">
      <Shortcut Id="DesktopShortcut"
                Name="$(var.ShortcutName)"
                Description="$(var.ShortcutDesc)"
                Target="[#MoonlightExe]"
                Directory="DesktopFolder"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="CleanupDesktopShortcut"
                    Directory="DesktopFolder"
                    On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\Moonlight Qt PyroWave"
                     Name="DesktopShortcutInstalled"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

    <!-- Persist desktop shortcut's installed state to let Bundle.wxs know if
         the desktop shortcut should installed by default when upgrading the
         product -->
    <Component Id="MoonlightDesktopShortcutState" Directory="INSTALLFOLDER">
      <RegistryValue Root="HKCU"
                     Key="Software\Moonlight Qt PyroWave"
                     Name="DesktopShortcutInstallState"
                     Type="integer"
                     Value="[ADDDESKTOPSHORTCUT]"
                     KeyPath="yes" />
    </Component>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Moonlight">
        <File Id="MoonlightExe"
              KeyPath="yes"
              Checksum="yes"
              Source="$(var.BuildDir)\app\$(var.Configuration)\Moonlight.exe">
          <fire:FirewallException Id="MoonlightFirewallException"
                                  Scope="any"
                                  IgnoreFailure="yes"
                                  Name="$(var.FullName)" />
        </File>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="MoonlightDependencies" Directory="INSTALLFOLDER">
      <Files Include="$(var.DeployDir)\**" />
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="Moonlight Qt PyroWave" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="Moonlight" />
      <ComponentRef Id="MoonlightShortcuts" />
      <ComponentRef Id="MoonlightDesktopShortcutState" />
      <ComponentRef Id="MoonlightDesktopShortcut" />
      <ComponentGroupRef Id="MoonlightDependencies" />
    </Feature>

    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="$(var.InstallFolder)" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="$(var.InstallFolder)" />
    </StandardDirectory>
  </Package>
</Wix>
