[Desktop Entry]
Name=Moonlight Qt PyroWave
Comment=Moonlight Qt game streaming with PyroWave support
Exec=moonlight
Icon=moonlight
Terminal=false
Type=Application
Categories=Qt;Game;
Keywords=nvidia;gamestream;stream;sunshine;pyrowave;remote play;
