[Desktop Entry]
Name=Pyrolight
Comment=Game streaming with PyroWave support
Exec=pyrolight
Icon=pyrolight
Terminal=false
Type=Application
Categories=Qt;Game;
Keywords=nvidia;gamestream;stream;sunshine;pyrowave;remote play;
